* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background: linear-gradient(45deg, #0d0c0c, #150c0f, #0d0c0c);
  color: #dda3b6;
}
div.container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 1100px;
  background: linear-gradient(90deg, #0d0c0c, #632c3e, #0d0c0c);
  border-radius: 25px;
  padding: 50px 100px;
  text-align: center;
  margin-top: 6%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
div.content {
  display: flex;
}
div.product {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 30px 20px;
  background-color: rgba(236, 149, 200, 0.2);
}
div.product:nth-child(1) {
  margin-left: 0;
}
div.product div.img {
  width: 270px;
  padding: 10px;
}
div.product div.img img {
  width: 100%;
  border-radius: 10px;
}

